<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" type="stylesheet"></script>
  <title>DEBT GUY</title>
</head>
<body>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>